<li class="list-group-item one-city" routerLinkActive="active-city">
  <a href="#" [routerLink]="[city.id]">
    <div class="row">
      <div class="col-xs-10">
        <div class="label label-default city-name">
          {{city.name}}
        </div>
      </div>
      <div class="col-xs-2">
        <span class="glyphicon glyphicon-menu-up"></span>
        <!-- <a class="btn btn-primary btn-xs">
        Detail <span class="glyphicon glyphicon-eye-open button-icon"></span>
      </a> -->
      </div>
    </div>
  </a>
</li>
