<li class="list-group-item one-city" routerLinkActive="active-city">
  <div class="row">
    <div class="col-xs-8">
      <div class="label label-default city-name">
        {{city.name}}
      </div>
    </div>
    <div class="col-xs-4">
      <a [routerLink]="[city.id]" class="btn btn-primary btn-xs">
      Detail <span class="glyphicon glyphicon-eye-open button-icon"></span>
    </a>
    </div>
  </div>
  <div class="row top01">
    <div class="col-xs-4 col-md-4">
      <span class="text text-primary temp">
        TEMP
      </span>
    </div>
    <div class="col-xs-8 col-md-8">
      {{city.main.temp}}
    </div>
  </div>
</li>
