
<li class="list-group-item one-history">
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3">
      <span class="badge badge-default">
        {{ (oneItem.dt * 1000) | date: 'HH:mm:ss' }}
      </span>
      <code>
        {{ (oneItem.dt * 1000) | date: 'dd/MM/yyyy' }}
      </code>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
      <div class="label label-default min-max">
         Temp
      </div>
      <img width="30" src="assets/images/temp-icon.png" alt="">
      <span class="min-max left1">{{oneItem.main.temp_max | celsius}}</span>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
      <div class="label label-primary min-max">
         Min
      </div>
      <img width="30" src="assets/images/min-icon.png" alt="">
      <span class="min-max left1">{{oneItem.main.temp_min | celsius}}</span>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
      <div class="label label-danger min-max">
         Max
      </div>
      <img width="30" src="assets/images/max-icon.png" alt="">
      <span class="min-max left1">{{oneItem.main.temp_max | celsius}}</span>
    </div>
  </div>
</li>
