<div class="row">
  <div class="page-header">
    <h2 class="text text-primary">List of cities <small>Check the weather</small></h2>
  </div>
</div>
<div class="row" *ngIf="loaded">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <ul class="list-group">
        <app-city-item *ngFor="let currentCity of allCities" [city]="currentCity"></app-city-item>
    </ul>
  </div>
</div>
<div class="row" *ngIf="!loaded">
  <div class="col-xs-offset-5 col-xs-2 col-sm-offset-5 col-sm2 col-md-offset-5 col-md-2 col-lg-offset-5 col-lg-2">
    <ul class="list-group top5">
      <span class="glyphicon glyphicon-refresh refreshing"></span>
    </ul>
  </div>
</div>
<div class="row">
  <ul class="list list-unstyled">
    <li class="">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
          <button class="btn btn xs btn-default btn-block" (click)="onRefreshData()">
              <span class="glyphicon glyphicon-refresh"></span> Refresth data
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
